.title-container {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.section-title {
    font-size: clamp(2rem, 3vw, 2rem);
    font-weight: 800;
    margin: 0 0 1rem;
    color: #ffffff;
    line-height: 1.1;
    letter-spacing: -1px;
}

.subtitle {
    font-size: clamp(0.7rem, 2vw, 1rem);
    color: #999;
    margin: 0;
}