body {
  margin: 0;
}

.home {
  margin-left: 10%;
  margin-right: 10%;
}

/* typewriter kursorining shar shakliga aylanishi */
.typewriter-cursor {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
  animation: blink 0.9s infinite ease-in-out;
  margin-left: 0.5rem;
}

.animated_words {
  display: flex;
  gap: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #020d19;
  position: relative;
  top: 1rem;
}

body.dark-mode .animated_words {
  color: #fbfcf8;
}

.wave-text {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

.quote_text {
  display: flex;
}

.contact_btn {
  width: 11em;
  height: 56px;
  overflow: hidden;
  border: none;
  color: black;
  background: none;
  position: relative;
  padding-bottom: 2em;
  cursor: pointer;
  top: 1.5rem;
}

.home_btn {
  display: flex;
  gap: 2%;
}

.contact_btn_1 {
  width: 13em;
}

body.dark-mode .contact_btn {
  color: #fff;
}

body.dark-mode .text1 {
  color: #fff;
}

body.dark-mode .text_1 {
  color: #fff;
}

body.dark-mode .text2 {
  color: #fff;
}

body.dark-mode .text_2 {
  color: #fff;
}

.contact_btn>div,
.contact_btn>svg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.contact_btn:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  background: currentColor;
  transition: transform 0.25s ease-out;
}

.contact_btn:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.contact_btn .clone>*,
.contact_btn .text>* {
  opacity: 1;
  font-size: 1.3rem;
  transition: 0.2s;
  margin-left: 4px;
  color: black;
  font-weight: 100;
}

.contact_btn .clone>* {
  transform: translateY(60px);
}

.contact_btn:hover .clone>* {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.contact_btn:hover .text>* {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.contact_btn:hover .clone> :nth-child(1) {
  transition-delay: 0.15s;
}

.contact_btn:hover .clone> :nth-child(2) {
  transition-delay: 0.2s;
}

.contact_btn:hover .clone> :nth-child(3) {
  transition-delay: 0.25s;
}

.contact_btn:hover .clone> :nth-child(4) {
  transition-delay: 0.3s;
}

.contact_btn svg {
  width: 20px;
  right: 0;
  top: 50%;
  left: 85%;
  transform: translateY(-50%) rotate(50deg);
  transition: 0.2s ease-out;
}

.contact_btn:hover svg {
  transform: translateY(-50%) rotate(90deg);
}

body.dark-mode .typewriter-cursor {
  background-color: #fff;
}

/* Shar blink animatsiyasi */
@keyframes blink {

  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.home_f {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 8rem;
  gap: 2rem;
}

.home_social {
  margin-top: 8rem;
  margin-right: 30px;
}

.home_social .btn {
  margin-top: 1rem;
}

@keyframes sparkle {

  0%,
  100% {
    filter: brightness(1);
  }

  50% {
    filter: brightness(1.5);
  }
}

.img {
  background: url(../imgs/me.png);
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  order: 1;
  justify-self: center;
  animation: profile_animate 5s ease-in-out infinite alternate;
  margin-top: 5rem;
}

@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  70% {
    border-radius: 60% 40% 30% 70%/60% 50% 70% 40%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.btn {
  display: grid;
  place-items: center;
  background: #e3edf7;
  padding: 1.4em;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: transform 0.5s;
}

.btn:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0.5em);
}

.btn svg {
  transition: transform 0.5s;
}

.btn:hover svg {
  transform: scale(0.9);
  fill: #333333;
}

.content {
  width: 80%;
  font-family: "Funnel Sans", serif;
  font-size: 20px;
  letter-spacing: 1px;
}

.lordicon {
  position: relative;
  top: 0.8rem;
}

.quote {
  position: relative;
  top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  font-family: "Dancing Script", cursive;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

.btn .icon_git {
  color: black;
}

.btn .icon_ins {
  color: #e4405f;
}

.btn .icon_teg {
  color: rgb(31, 31, 196);
}

.strong {
  font-size: 30px;
  margin-left: 3rem;
  font-family: "Montserrat", sans-serif;
}

.tit_sub {
  font-family: "Glass Antiqua", cursive;
  font-size: 20px;
  margin-top: 1.5rem;
  font-family: "Funnel Sans", serif;
}

.tit_sub::before {
  content: "";
  display: inline-block;
  width: 70px;
  height: 1px;
  background-color: black;
  margin-bottom: 7px;
  margin-left: 2.5rem;
  font-family: "Montserrat", sans-serif;
}

.mouse-btn {
  margin: 10px auto;
  width: 20px;
  height: 40px;
  border: 3px solid rgba(122, 122, 124, 0.918);
  border-radius: 20px;
  display: flex;
  cursor: pointer;
}

.container_mouse {
  position: relative;
  top: 1.5rem;
}

.scroll_text {
  display: flex;
  justify-content: center;
}

.mouse-scroll {
  display: block;
  width: 10px;
  height: 10px;
  background: linear-gradient(170deg,
      rgba(122, 122, 124, 0.918),
      rgb(123, 124, 124));
  border-radius: 50%;
  margin: auto;
  animation: scrolling13 1s linear infinite;
}

@keyframes scrolling13 {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(10px);
  }
}

@media only screen and (max-width: 768px) {
  .home_f {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .home_social,
  .home_img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 1rem;
  }

  .home_title {
    text-align: center;
  }

  .content {
    width: 80%;
    display: flex;
    flex-direction: column;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .tit_sub {
    font-size: 4vw;
  }

  .img {
    margin-top: -10% !important;
  }

  .home_btn {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .contact_btn svg {
    position: relative;
    left: 90%;
  }

  .contact_btn .svg_code {
    position: relative;
    left: 89%;
  }

  .quote_text {
    display: flex;
    justify-content: center;
    margin: auto;
  }
}

@media only screen and (max-width: 470px) {
  .home_img {
    scale: 0.9;
  }

  .contact_btn {
    scale: 0.7;
  }

  .contact_btn_1 {
    position: relative;
    left: -2rem;
  }

  .home_btn {
    margin-left: 2rem;
  }

  .animated_words {
    font-size: 4vw;
  }
}

/* About */
.card_container {
  width: 70%;
  --X: 0deg;
  --Y: 0deg;
  --Z: 0deg;
  --angleX: 15deg;
  --angleY: 20deg;
  cursor: pointer;
  position: relative;
}

.card_hover {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.card_hover .part {
  width: 20%;
  height: calc(100% / 3);
  background-color: transparent;
}

.card_container:has(.part-1:hover) {
  --X: var(--angleX);
  --Y: calc(var(--angleY) * -1);
}

.card_container:has(.part-2:hover) {
  --X: var(--angleX);
  --Y: calc((var(--angleY) / 2) * -1);
}

.card_container:has(.part-3:hover) {
  --X: var(--angleX);
}

.card_container:has(.part-4:hover) {
  --X: var(--angleX);
  --Y: calc(var(--angleY) / 2);
}

.card_container:has(.part-5:hover) {
  --X: var(--angleX);
  --Y: var(--angleY);
}

.card_container:has(.part-6:hover) {
  --Y: calc(var(--angleY) * -1);
}

.card_container:has(.part-7:hover) {
  --Y: calc((var(--angleY) / 2) * -1);
}

.card_container:has(.part-9:hover) {
  --Y: calc(var(--angleY) / 2);
}

.card_container:has(.part-10:hover) {
  --Y: var(--angleY);
}

.card_container:has(.part-11:hover) {
  --X: calc(var(--angleX) * -1);
  --Y: calc(var(--angleY) * -1);
}

.card_container:has(.part-12:hover) {
  --X: calc(var(--angleX) * -1);
  --Y: calc((var(--angleY) / 2) * -1);
}

.card_container:has(.part-13:hover) {
  --X: calc(var(--angleX) * -1);
}

.card_container:has(.part-14:hover) {
  --X: calc(var(--angleX) * -1);
  --Y: calc(var(--angleY) / 2);
}

.card_container:has(.part-15:hover) {
  --X: calc(var(--angleX) * -1);
  --Y: var(--angleY);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.5rem;
  width: 10rem;
  background-color: rgb(172, 250, 233);
  background-image: linear-gradient(135deg,
      rgba(172, 250, 233, 1) 0%,
      rgba(213, 143, 235, 1) 50%,
      rgba(242, 126, 241, 1) 100%);
  border-radius: 0.5rem;
  transform-origin: center;
  transform: rotateX(var(--X)) rotateY(var(--Y)) rotateZ(var(--Z));
  transition: transform 0.3s ease-in-out;
}

.say-hi {
  position: relative;
  width: 100%;
  height: 2rem;
  background-color: transparent;
  color: #fff;
}

.icon_say-hi {
  position: absolute;
  bottom: 0;
  left: -0.5rem;
  width: 3rem;
  opacity: 0;
  transform-origin: 60% 90%;
  transform: translate(-15deg);
  filter: drop-shadow(0 0 0.5rem #cdcdcd);
  transition: all 0.2s ease-in-out;
}

.card_container:hover .card .icon_say-hi {
  width: 3.5rem;
  opacity: 1;
  animation: say-hi 0.35s linear infinite alternate;
}

@keyframes say-hi {
  to {
    transform: rotate(25deg);
  }
}

.title {
  overflow: clip;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.paragraph {
  font-size: 0.6rem;
  font-weight: 600;
}

.about {
  margin-left: 3rem;
  margin-right: 3rem;
}

.header_about p {
  font-family: "Kode Mono", monospace;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 13rem;
  font-weight: 600;
}

.header_about {
  margin-top: 1rem;
}

.head_icon_ {
  display: flex;
  flex-direction: column;
}

.header_icon {
  position: absolute;
  scale: 0.68;
  margin-top: -1rem;
  margin-right: 5px;
}

.header_icon2 {
  position: absolute;
  scale: 1.2;
  margin-top: -1rem;
  margin-right: 10px;
}

.header_icon3 {
  position: absolute;
  scale: 1.25;
  margin-top: -1rem;
  margin-right: 20px;
}

.about_content {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 6rem;
  margin-top: 5rem;
  margin-left: 20%;
}

@media only screen and (max-width: 870px) {
  .about_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 10%;
  }

  .about_img img {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: -5% !important;
  }

  .card_container {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .about_sub {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
  }

  .continue-application {
    display: flex;
    justify-content: center;
    margin: auto;
  }
}

.continue-application {
  --color: #fff;
  --background: #404660;
  --background-hover: #3a4059;
  --background-left: #2b3044;
  --folder: #f3e9cb;
  --folder-inner: #beb393;
  --paper: #ffffff;
  --paper-lines: #bbc1e1;
  --paper-behind: #e1e6f9;
  --pencil-cap: #fff;
  --pencil-top: #275efe;
  --pencil-middle: #fff;
  --pencil-bottom: #5c86ff;
  --shadow: rgba(13, 15, 25, 0.2);
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  padding: 17px 29px 17px 69px;
  transition: background 0.3s;
  color: var(--color);
  background: var(--bg, var(--background));
  margin-top: 1rem;
}

.continue-application>div {
  top: 0;
  left: 0;
  bottom: 0;
  width: 53px;
  position: absolute;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
  background: var(--background-left);
}

.continue-application>div .folder {
  width: 23px;
  height: 27px;
  position: absolute;
  left: 15px;
  top: 13px;
}

.continue-application>div .folder .top {
  left: 0;
  top: 0;
  z-index: 2;
  position: absolute;
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application>div .folder .top svg {
  width: 24px;
  height: 27px;
  display: block;
  fill: var(--folder);
  transform-origin: 0 50%;
  transition: transform 0.3s ease var(--fds, 0.45s);
  transform: perspective(120px) rotateY(var(--fr, 0deg));
}

.continue-application>div .folder:before,
.continue-application>div .folder:after,
.continue-application>div .folder .paper {
  content: "";
  position: absolute;
  left: var(--l, 0);
  top: var(--t, 0);
  width: var(--w, 100%);
  height: var(--h, 100%);
  border-radius: 1px;
  background: var(--b, var(--folder-inner));
}

.continue-application>div .folder:before {
  box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow),
    0 3.5px 7px var(--shadow);
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application>div .folder:after,
.continue-application>div .folder .paper {
  --l: 1px;
  --t: 1px;
  --w: 21px;
  --h: 25px;
  --b: var(--paper-behind);
}

.continue-application>div .folder:after {
  transform: translate(var(--pbx, 0), var(--pby, 0));
  transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application>div .folder .paper {
  z-index: 1;
  --b: var(--paper);
}

.continue-application>div .folder .paper:before,
.continue-application>div .folder .paper:after {
  content: "";
  width: var(--wp, 14px);
  height: 2px;
  border-radius: 1px;
  transform: scaleY(0.5);
  left: 3px;
  top: var(--tp, 3px);
  position: absolute;
  background: var(--paper-lines);
  box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
}

.continue-application>div .folder .paper:after {
  --tp: 6px;
  --wp: 10px;
}

.continue-application>div .pencil {
  height: 2px;
  width: 3px;
  border-radius: 1px 1px 0 0;
  top: 8px;
  left: 105%;
  position: absolute;
  z-index: 3;
  transform-origin: 50% 19px;
  background: var(--pencil-cap);
  transform: translateX(var(--pex, 0)) rotate(35deg);
  transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application>div .pencil:before,
.continue-application>div .pencil:after {
  content: "";
  position: absolute;
  display: block;
  background: var(--b,
      linear-gradient(var(--pencil-top) 55%,
        var(--pencil-middle) 55.1%,
        var(--pencil-middle) 60%,
        var(--pencil-bottom) 60.1%));
  width: var(--w, 5px);
  height: var(--h, 20px);
  border-radius: var(--br, 2px 2px 0 0);
  top: var(--t, 2px);
  left: var(--l, -1px);
}

.continue-application>div .pencil:before {
  -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
  clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
}

.continue-application>div .pencil:after {
  --b: none;
  --w: 3px;
  --h: 6px;
  --br: 0 2px 1px 0;
  --t: 3px;
  --l: 3px;
  border-top: 1px solid var(--pencil-top);
  border-right: 1px solid var(--pencil-top);
}

.continue-application:before,
.continue-application:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  border-radius: 1px;
  background: var(--color);
  transform-origin: 9px 1px;
  transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
  top: 26px;
  right: 16px;
  transition: transform 0.3s;
}

.continue-application:after {
  --r: 45deg;
}

.continue-application:hover {
  --cx: 2px;
  --bg: var(--background-hover);
  --fx: -40px;
  --fr: -60deg;
  --fd: 0.15s;
  --fds: 0s;
  --pbx: 3px;
  --pby: -3px;
  --pbd: 0.15s;
  --pex: -24px;
}

@media only screen and (max-width: 768px) {
  .about_sub {
    width: 90% !important;
    font-size: 4vw !important;
  }
}

.about_img img {
  max-width: 320px;
  max-height: 460px;
  border-radius: 20px;
  margin-top: 50%;
}

.about_card {
  display: flex;
  gap: 1rem;
}

.icon_about {
  display: flex;
  justify-content: center;
  margin: auto;
  color: rgb(134, 132, 132);
  margin-top: 1rem;
}

.about_s {
  font-size: 7px;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.sub_head {
  font-size: 17px;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-family: "Funnel Sans", serif;
}

.about_sub {
  width: 70%;
  margin-top: 3rem;
  font-family: "Funnel Sans", serif;
  font-size: 20px;
}

/* Skill */
@media only screen and (max-width: 768px) {
  .card_text {
    display: flex;
    flex-direction: column;
  }

  .cards_skill {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 870px) {
  .card_text {
    display: flex;
    flex-direction: column;
  }

  .cards_skill {
    display: flex;
    justify-content: center;
  }
}

.click {
  font-size: 15px;
  font-weight: 500;
  font-family: "Josefin Slab", serif;
  display: flex;
  justify-content: center;
  margin-top: 0.3rem;
  color: rgb(231, 225, 225);
}

.card2 {
  position: relative;
  width: 400px;
  height: 350px;
  color: #2e2d31;
  background: #403f3f;
  overflow: hidden;
  border-radius: 20px;
}

.temporary_text {
  font-weight: bold;
  font-size: 40px;
  margin-top: 9%;
  padding: 6px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8f8f8;
}

.card_title {
  font-weight: bold;
  font-family: "Funnel Sans", serif;
}

.card_content {
  position: absolute;
  left: 0;
  top: 1rem;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: #f2f2f2;
  border-top-left-radius: 20px;
  transform: translateY(150px);
  transition: transform 0.25s;
}

.card-title {
  font-family: "Great Vibes", cursive;
}

.card_content::before {
  content: "";
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #f2f2f2;
}

.card_text {
  display: flex;
  margin-top: 6rem;
  gap: 10rem;
  justify-content: center;
}

.card_title {
  color: #131313;
  line-height: 15px;
}

.card_icon {
  margin-right: 0.5rem;
}

.card_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
  font-family: "Funnel Sans", serif;
}

.skill1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.skill2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card_description {
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  justify-content: space-evenly;
  font-family: "Funnel Sans", serif;
}

.card_text_sub {
  font-size: 15px;
  font-weight: 500;
}

.card2:hover .card_content {
  transform: translateY(0);
}

.card2:hover .card_description {
  opacity: 1;
  transition-delay: 0.25s;
}

/* service */

.parent {
  width: 300px;
  padding: 20px;
  perspective: 1000px;
}

.parent2 {
  width: 300px;
  padding: 20px;
  perspective: 1000px;
}

.parent3 {
  width: 300px;
  padding: 20px;
  perspective: 1000px;
}

.service_icon {
  font-size: 25px;
  color: rgb(91, 88, 88);
}

.card3 {
  padding-top: 50px;
  border: 3px solid rgb(255, 255, 255);
  transform-style: preserve-3d;
  background: linear-gradient(135deg, #0000 18.75%, #f3f3f3 0 31.25%, #0000 0),
    repeating-linear-gradient(45deg, #f3f3f3 -6.25% 6.25%, #ffffff 0 18.75%);
  background-size: 60px 60px;
  background-position: 0 0, 0 0;
  background-color: #f0f0f0;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
  transition: all 0.5s ease-in-out;
}

.card3:hover {
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
}

.content-box {
  background: rgba(60, 205, 249, 0.865);
  transition: all 0.5s ease-in-out;
  padding: 60px 25px 25px 25px;
  transform-style: preserve-3d;
  border-radius: 0 0 10px 10px;
  font-family: "Funnel Sans", serif;
}

.content-box .card-title {
  display: inline-block;
  color: white;
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 50px);
  font-family: "Funnel Sans", serif;
}

.content-box .card-title:hover {
  transform: translate3d(0px, 0px, 60px);
}

.content-box .see-more {
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 900;
  font-size: 9px;
  text-transform: uppercase;
  color: rgb(7, 185, 255);
  background: white;
  padding: 0.5rem 0.7rem;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
  letter-spacing: 1px;
}

.content-box .see-more:hover {
  transform: translate3d(0px, 0px, 60px);
}

.service_card {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 5rem;
}

@media only screen and (max-width: 768px) {
  .service_card {
    display: flex;
    flex-direction: column;
  }

  .parent,
  .parent2,
  .parent3 {
    display: flex;
    justify-content: center;
    margin: auto;
  }
}

.modal-open {
  overflow: hidden;
}

.modal-open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 999;
}

.ant-modal-title {
  text-align: center;
}

.ant-modal-body p {
  text-align: center;
  font-size: 1rem;
}

.ant-modal-body ul {
  list-style: none;
  padding: 0;
}

.ant-modal-body li {
  font-size: 1rem;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}

.ant-modal-body li::before {
  content: "✓";
  margin-right: 0.5rem;
  color: green;
}

/* qualification */

.qualification {
  margin-top: -4rem;
  font-family: "Funnel Sans", serif;
}

.qualification__container {
  max-width: 768px;
}

.qualification__tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.qualification__button {
  font-size: 1.25rem;
  font-weight: 500;
  color: hsl(0, 0%, 20%);
  margin: 0 1rem;
  cursor: pointer;
  margin-top: 4rem;
  transition: all 0.3s ease-in-out;
}

.qualification__button:hover {
  color: hsl(0, 0%, 0%);
}

.qualification__icon {
  font-size: 1.8rem;
  margin-right: 0.25rem;
}

body.dark-mode .qualification__button {
  color: hsl(0, 0%, 100%);
}

.qualification__sections {
  display: grid;
  grid-template-columns: 0.5fr;
  justify-content: center;
}

.qualification__content {
  display: none;
}

.qualification__content-active {
  display: block;
}

.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification__title {
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Funnel Sans", serif;
}

.qualification__subtitle {
  display: inline-block;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.qualification__calendar {
  font-size: 0.875rem;
}

.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: hsl(0, 0%, 46%);
  border-radius: 50%;
}

.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: hsl(0, 0%, 46%);
  transform: translate(6px, -7px);
}

@media only screen and (max-width: 768px) {

  .qualification__rounder,
  .qualification__line {
    display: none;
  }
}

/* Portfolio */

@media only screen and (max-width: 500px) {
  .portfolio_works {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .portfolio_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90% !important;
  }

  .portfolio_btn {
    scale: 0.7;
    width: 90% !important;
    margin-left: 5%;
  }
}


.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  font-family: "Funnel Sans", serif;
}

.portfolio_works {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  justify-content: center;
  font-family: "Funnel Sans", serif;
}

.portfolio_button {
  position: relative;
  padding: 10px 22px;
  border-radius: 30px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: rgba(93, 158, 255, 0.902);
  transition: all 0.2s ease;
  font-family: "Funnel Sans", serif;
  font-size: 20px;
  max-width: 1000px;
}

.portfolio_button:active {
  transform: scale(0.96);
}

.portfolio_button:before,
.portfolio_button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.portfolio_button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #57c7dd 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #2a63e8 20%, transparent 30%),
    radial-gradient(circle, #2a63e8 20%, transparent 20%),
    radial-gradient(circle, #2a63e8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #2a63e8 15%, transparent 20%),
    radial-gradient(circle, #2a63e8 20%, transparent 20%),
    radial-gradient(circle, #2a63e8 20%, transparent 20%),
    radial-gradient(circle, #2a63e8 20%, transparent 20%),
    radial-gradient(circle, #2a63e8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
  scale: 1.2;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.portfolio_button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.all {
  background-color: black;
  color: #fff;
}

.portfolio_btn {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 3rem;
  align-items: center;
}

.work_card {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.work_card:hover {
  -webkit-box-shadow: 1px 2px 53px 30px rgba(34, 60, 80, 0.22);
  -moz-box-shadow: 1px 2px 53px 30px rgba(34, 60, 80, 0.22);
  box-shadow: 1px 2px 53px 30px rgba(34, 60, 80, 0.22);
}

.work_img {
  padding: 10px;
}

.work_img img,
.work_img video {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.work_img img {
  filter: blur(2px);
}

.work_title {
  color: #212121;
  font-family: "Cutive Mono", monospace;
  font-weight: 700;
  margin-left: 1rem;
}

.work_link {
  font-size: 15px;
  font-family: "M PLUS Code Latin", monospace;
  margin-left: 1rem;
}

.work_icon {
  transition: all 0.3s ease-in-out;
  animation: width 1s ease-in-out infinite alternate both;
}

@keyframes width {
  from {
    margin-left: 8px;
  }

  to {
    color: #212121;
  }
}


body.modal-open {
  overflow: hidden;
}

.blur {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

@media only screen and (max-width: 800px) {
  .button_overlay {
    scale: 0.9;
  }
}

.button_overlay {
  cursor: pointer;
  border: none;
  background: #7808d0;
  color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: grid;
  place-content: center;
  transition: background 300ms, transform 200ms;
  font-weight: 600;
  margin-top: -25%;
}

.button__text {
  position: absolute;
  inset: 0;
  margin-top: 1rem;
  animation: text-rotation 8s linear infinite;

  >span {
    position: absolute;
    transform: rotate(calc(19deg * var(--index)));
    inset: 2px;
  }
}

.button__circle {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background: #fff;
  color: #7808d0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__icon--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button_overlay:hover {
  background: #000;
  transform: scale(1.05);
}

.button_overlay:hover .button__icon {
  color: #000;
}

.button_overlay:hover .button__icon:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button_overlay:hover .button__icon--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}

.project_pagination {
  display: flex;
  justify-content: center;
  margin: auto;
}

body.dark-mode .project_pagination .ant-pagination-prev .ant-pagination-item-link,
body.dark-mode .project_pagination .ant-pagination-next .ant-pagination-item-link {
  border-radius: 20px;
  background-color: #cacaca;
  color: #333;
}

body.dark-mode .project_pagination .ant-pagination-item {
  border-radius: 20px;
  background-color: #cacaca;
  color: #fff;
}

body.dark-mode .project_pagination .ant-pagination-item-active {
  border-radius: 20px;
  background-color: #e3e3e3;
  color: #000;
}

@keyframes text-rotation {
  to {
    rotate: 360deg;
  }
}

.project_over {
  display: flex;
  justify-content: space-between;
}

.project_over-btn {
  margin-right: 5%;
}

.work_card {
  max-width: 390px;
  max-height: 300px;
  border-radius: 20px;
  margin-top: 2rem;
}

.tags-container {
  margin-top: 2.5%;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.project_over {
  display: flex;
  justify-content: space-between;
}

/* testimonials */

.testimonial__container {
  width: 750px;
  margin-top: 3rem;
  overflow: hidden;
}

.testimonial__card {
  background-color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  margin-bottom: 3rem;
  height: 220px !important;
  font-family: "Funnel Sans", serif;
}

.testimonial__info {
  display: flex;
  flex-direction: column;
}

.ratingStar {
  position: absolute;
  bottom: 5%;
}

.testimonial__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.testimonial__name {
  font-size: 1rem;
  font-weight: 500;
}

body.dark-mode .testimonial__name {
  color: #000000;
}

body.dark-mode .testimonial__description {
  color: #4b4b4b;
}

.testimonial__description {
  font-size: 17px;
  margin-top: 1rem;
  font-family: "Funnel Sans", serif;
}

.swiper-pagination-bullet {
  background-color: hsl(0, 0%, 100%);
}

.swiper-pagination-bullet-active {
  background-color: hsl(0, 0%, 20%) !important;
}

@media screen and (max-width: 992px) {
  .testimonial__container {
    width: initial;
  }

  .testimonial__card {
    padding: 1.25rem 1.5rem;
  }
}

/* achievements */

.hover-container {
  position: relative;
  width: 100%;
  padding: 2.5rem;
  background: transparent;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hover-item {
  cursor: pointer;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
  transition: color 0.3s ease;
}

.hover-item:hover {
  color: black;
}

.hover-image {
  position: relative;
  width: 18rem;
  height: 13rem;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  will-change: transform, opacity;
  z-index: 10;
  overflow: hidden;
}

.testi_title {
  display: flex;
  gap: 1rem;
}

.outer {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  padding: 1px;
  background: radial-gradient(circle 230px at 0% 0%, #ffffff, #0c0d0d);
  position: relative;
}

.dot {
  width: 5px;
  aspect-ratio: 1;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px #ffffff;
  border-radius: 100px;
  z-index: 2;
  right: 10%;
  top: 10%;
  animation: moveDot 6s linear infinite;
}

@keyframes moveDot {

  0%,
  100% {
    top: 10%;
    right: 10%;
  }

  25% {
    top: 10%;
    right: calc(100% - 15px);
  }

  50% {
    top: calc(100% - 15px);
    right: calc(100% - 15px);
  }

  75% {
    top: calc(100% - 15px);
    right: 10%;
  }
}

.card {
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  border: solid 1px #202222;
  background-size: 20px 20px;
  background: radial-gradient(circle 280px at 0% 0%, #444444, #170948);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  color: #fff;
}

.card .text {
  font-weight: 1000;
  font-size: 60%;
  background: linear-gradient(45deg, #dcdcdc 4%, #ffffff, #aaa9a9);
  background-clip: text;
  color: transparent;
}